div {
    margin-top: 20px;
}

@font-face {
    font-family: ZeldaFont;
    font-weight: bold;
    src: url("../../assets/zeldafont.otf") format("opentype");
}

h1 {
    font-family: ZeldaFont;
    font-size: 100px;
    text-align: center;
    margin-top: 80px;
}

.card {
    background-color: #112914;
    border-color: #43ac96;
}