<div class="container">
    <h1>Games Developed</h1>

    <div class="row justify-content-around align-items-center">
        <div class="card p-3" style="width: 32rem;">
            <a href="https://www.dropbox.com/s/8ceqj4xltckhk0j/Ignotum.zip" target="_blank">
                <img class="card-img-top" src="../../assets/ignotum.jpg" alt="Card image cap">
            </a>
            <div class="card-body">
                <p class="card-text">First-person horror game. Escape before the monster kills you!</p>
            </div>
        </div>

        <div class="card p-3" style="width: 32rem;">
            <a href="https://store.steampowered.com/app/595470/Shadow_Circuit/" target="_blank">
                <img class="card-img-top" src="../../assets/shadowcircuit.jpg" alt="Card image cap">
            </a>
            <div class="card-body">
                <p class="card-text">Virtual reality game that is a fast-paced, arcade-style, sports game with unique physics and gravity mechanics.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-around align-items-center">
        <div class="card p-3 mb-5" style="width: 32rem;">
            <a href="https://www.cs.drexel.edu/~skb78/ascent/" target="_blank">
                <img class="card-img-top" src="../../assets/ascent.png" alt="Card image cap">
            </a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card p-3 mb-5" style="width: 32rem;">
            <a href="https://www.newgrounds.com/portal/view/702397" target="_blank">
                <img class="card-img-top" src="../../assets/dreamcharmer.png" alt="Card image cap">
            </a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
