<div class="container">
    <h1>PhantomTriforce</h1>
    <img src="../../assets/phantomtriforce.png" alt="PhantomTriforce">
    <img src="../../assets/reaper.jpg" alt="PhantomTriforce">
    <img src="../../assets/mrl.png" alt="PhantomTriforce">
    <img src="../../assets/Sig.png" alt="PhantomTriforce">
    <div class="row">
        <img src="../../assets/shield.png" alt="PhantomTriforce">
    </div>

    <h2>Latest Videos</h2>
    <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=PhantomTriforce" width="800" height="400"></iframe>

</div>