div {
    margin-top: 80px;
}

img {
    border-radius: 50%;
    width: 30%;
}

img:hover {
    background: url("../../assets/reaper.jpg") no-repeat;
    border-radius: 50%;
    width: 300px;
}

@font-face {
    font-family: ZeldaFont;
    font-weight: bold;
    src: url("../../assets/zeldafont.otf") format("opentype");
}

h1 {
    font-family: ZeldaFont;
    font-size: 100px;
    text-align: center;
}